.nav2 {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.546); }

.container {
  max-width: none; }

.img__container--hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  z-index: -1; }
  .img__container--hero img {
    width: 100%; }
  .img__container--hero h2 {
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 55%;
    font-weight: 600;
    color: brown; }

.categorias__section div {
  display: flex;
  flex-direction: row; }
  .categorias__section div button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 25vw; }
    .categorias__section div button img {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute; }
    .categorias__section div button .icon__container {
      position: relative;
      width: 3vw;
      height: 3vw;
      background-color: rgba(255, 255, 255, 0); }
      .categorias__section div button .icon__container img {
        position: relative;
        width: 100%;
        height: 100%; }
    .categorias__section div button h3 {
      position: relative; }
