.section__flip--cards{

  @include flex(column);
  align-items: center;
  .titulo__section{
      margin: 3rem;
      font-size: text-size(subtitulo);
  }
  .row__container{
    @include flex(row);
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    .card__flip {
      width: 20rem;
      height: 35rem;
      perspective: 150rem;
      -moz-perspective: 150rem;
      position: relative;
      text-align: center;
      .card__side {
        width: 100%;
        height: 100%;
        transition: transform 0.8s ease;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        .card__heading{
          font-size: text-size(subtitulo);
          margin: 3rem;
        }
        .card__details{
          margin-top: 7rem;
          ul{
            @include flex(column);
            gap: 2rem;
            align-items: center;
            justify-content: center;
            @extend %reset_list;
            li{
              font-size: text-size(texto);
              width: 80%;
              border-bottom: white solid 1px;
            }
          }
        }
      }
      .card__side--front-1 {
        border: solid 1px rgb(204, 204, 204);
        border-radius: 5px;
        background-image: url(../Img/antonio.jpg);
        background-size: cover;  
      }
      
      .card__side--front-2 {
        border: solid 1px rgb(204, 204, 204);
        border-radius: 5px;
        background-image: url(../Img/marisol.jpg);
        background-size: cover;  
      }
      
      .card__side--front-3 {
        border: solid 1px rgb(204, 204, 204);
        border-radius: 5px;
        background-image: url(../Img/pepe.jpg);
        background-size: cover;  
      }
      .card__side--back-1{
        background: linear-gradient(-45deg, #9a4eff, #24ff72);
      }
      .card__side--back-2{
        background: linear-gradient(-45deg, #ffec61, #f321d7);
      }
      .card__side--back-3{
        background: linear-gradient(-45deg, #9a4eff, #24ff72);
      }
      .card__side--back-1,
      .card__side--back-2,
      .card__side--back-3 {
        border-radius: 5px;
        color: white;
        transform: rotateY(180deg);
      }
    }
    .card__flip:hover .card__side--front-1,
    .card__flip:hover .card__side--front-2,
    .card__flip:hover .card__side--front-3 {
      transform: rotateY(-180deg);
    }

    .card__flip:hover .card__side--back-1,
    .card__flip:hover .card__side--back-2,
    .card__flip:hover .card__side--back-3 {
      transform: rotateY(0);
    }
  }
}

















