.grid__section{
  @include flex(column);
  align-items: center;
  .gridImg__section {
    @include fr-grid(4, 3, 1rem);
  
    
      .hijo1x1 {
        grid-column: span 1; /// Ocupa una columna
        grid-row: span 1; /// Ocupa una fila
      }
    
      .hijo2x1 {
        grid-column: span 2; 
        grid-row: span 1; 
      }
    
      .hijo1x2 {
        grid-column: span 1; 
        grid-row: span 2; 
      }
      .hijo2x2 {
        grid-column: span 2; 
        grid-row: span 2; 
      }
    
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
      }
    }
}

  