.nav2 {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.546);
    
    @media (max-width: 767px) {
        position: relative;
    }
}

.container {
    max-width: none;
}
//no lo pongo anidado por que esta muy lejos de nav2 y los contenedores de entre estos no necesitan diseño
.iconoSol, .img-thumbnail {
    width: 50px;
    height: 50px;
}

.form-select, input {
    margin-bottom: 10px;
    
}
