.img__container--hero{
    @include flex();
    width: 100%;
    position: relative;
    z-index: -1;
    img{
        
        width: 100%;
    }
    .img{
        position: absolute;
        z-index: 2;
        width: 25vw;
        top: 58%;
        left: 70%;
        font-weight: 600;
        color:brown
    }
}