.img__container--hero{
    @include flex();
    width: 100%;
    position: relative;
    z-index: -1;
    img{
        
        width: 100%;
    }
    h2{
        position: absolute;
        z-index: 2;
        top: 20%;
        left: 55%;
        font-weight: 600;
        color:brown
    }
}