$colors:(
    primary:#333,
    secondary: brown,
    tertiary: #f2f0f1,
    quaternary: #e75480,
    calificacion:rgb(255, 208, 0)
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$text-size:(
    texto: calc(1.2rem + 0.2vw),
    subtitulo: calc(1rem + 1vw),
    titulo: 2.5rem,
    titulo-grande: calc(1.5rem + 1.5vw)
);

@function text-size($text-size-name) {
    @return map-get($text-size, $text-size-name);
}

