@import './variables';
@import './mixing';
@import './nav';
@import './section-hero';
@import './categorias-section';
@import './info__principal';
@import './rating__section';
@import './flip_cards__section';
@import './grid_section';
@import './cards_section';
@import './footer';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}