:root {
    --color-black: black;
    --color-black-transparent:rgba(0, 0, 0, 0.562);
    --color-white: white;
    --color-NaranjaSeleccion: #ff4500;
    --logo-size-header: 10vw;
    --menu-size-header: 3vw;
    --font-size-header: 2vw;
    --listaMenu-size-header:20vw;
    --carrito-margin-header:2vw;
    --size-iconos-header:50px;
  }
  
  @media (max-width: 768px) {
    :root {
      --logo-size-header: 15vw;
      --menu-size-header: 8vw;
      --font-size-header: 4vw;
      --color-black: yellow;
      --listaMenu-size-header:35vw;
      --carrito-margin-header:5vw;
      --size-iconos-header:35px;
    }
  }